<div class="background-container">
    <div class="overlay-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h2>Registrácia</h2>
            <div class="form-group">
            <label for="name">Meno</label>
            <input id="name" formControlName="name" type="text" required />
            <div *ngIf="submitted && f['name'].errors" class="error">
                <div *ngIf="f['name'].errors?.['required']">Meno je povinné.</div>
            </div>
            </div>

            <div class="form-group">
            <label for="email">E-mail</label>
            <input id="email" formControlName="email" type="email" required />
            <div *ngIf="submitted && f['email'].errors" class="error">
                <div *ngIf="f['email'].errors?.['required']">E-mail je povinný.</div>
                <div *ngIf="f['email'].errors?.['email']">E-mail nie je platný.</div>
            </div>
            </div>

            <div class="form-group">
            <label for="password">Heslo</label>
            <input id="password" formControlName="password" type="password" required />
            <div *ngIf="submitted && f['password'].errors" class="error">
                <div *ngIf="f['password'].errors?.['required']">Heslo je povinné.</div>
                <div *ngIf="f['password'].errors?.['minlength']">Heslo musí mať aspoň 6 znakov.</div>
            </div>
            </div>

            <div class="form-group">
            <label for="confirmPassword">Potvrdenie hesla</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" required />
            <div *ngIf="submitted && f['confirmPassword'].errors" class="error">
                <div *ngIf="f['confirmPassword'].errors?.['required']">Potvrdenie hesla je povinné.</div>
                <div *ngIf="registerForm.errors?.['passwordMismatch']">Heslá sa nezhodujú.</div>
            </div>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <button type="submit" pButton label="Registrovať sa"  [disabled]="submitted"></button>
              </form>
              
        </form>
    </div>
  </div>
  