<div class="gear-container">
    <h2>Vybavenie na lezenie</h2>
    <p-tabView>
      <!-- Lezečky -->
      <p-tabPanel header="Lezečky">
        <div class="gear-items">
          <p-card class="gear-card" header="La Sportiva Mythos">
            <ng-template pTemplate="content">
              <img src="/images/mythos.png" alt="La Sportiva Mythos" class="gear-image" />
              <p>
                Vhodné pre každy typ lezenia, pre začiatočníkov ale aj pokročilých lezcov. Vďaka šnurovaniu sa vedia výborne prispôsobiť každej nohe.
              </p>
              <p><strong>Cena okolo:</strong> 97 - 141 €</p>
              <a href="https://lezecky.heureka.sk/la-sportiva-mythos/#prehlad/" target="_blank" class="p-button p-button-outlined">
                Viac informácií
              </a>
            </ng-template>
          </p-card>
          <p-card class="gear-card" header="Ocún Ozone">
            <ng-template pTemplate="content">
              <img src="/images/ozone.png" alt="Ocún Ozone" class="gear-image" />
              <p>
                Tieto lezečky sú výkonnostné a teda určené na male stupy, na bouldering či na skaly. Asymetrický tvar, priľnavá špička a super padnúca päta vám pomôžu pri lezení najťažších ciest.
              </p>
              <p><strong>Cena okolo:</strong> 90 - 122 €</p>
              <a href="https://lezecky.heureka.sk/ocun-ozone/#prehlad/" target="_blank" class="p-button p-button-outlined">
                Viac informácií
              </a>
            </ng-template>
          </p-card>
          <p-card class="gear-card" header="Ocún Ozone HV">
            <ng-template pTemplate="content">
              <img src="/images/ozone_hv.png" alt="Ocún Ozone HV" class="gear-image" />
              <p>
                Ozone ponúka aj verziu HV, ktorá má väčší vnútorný objem a teda je vhodná aj pre lezcov so širšími chodidlami.
              </p>
              <p><strong>Cena okolo:</strong> 90 - 122 €</p>
              <a href="https://lezecky.heureka.sk/ocun-ozone-hv/#prehlad/" target="_blank" class="p-button p-button-outlined">
                Viac informácií
              </a>
            </ng-template>
          </p-card>
        </div>
      </p-tabPanel>
  
      <!-- Sedák -->
      <p-tabPanel header="Sedacie úväzy">
        <div class="gear-items">
          <p-card class="gear-card" header="Petzl Corax">
            <ng-template pTemplate="content">
              <img src="/images/corax.png" alt="Petzl Corax" class="gear-image" />
              <p>
                Pohodlný a nastaviteľný sedák vhodný pre všetkých lezcov. 
              </p>
              <p><strong>Cena okolo:</strong> 53 - 70 €</p>
              <a href="https://uvazky.heureka.sk/petzl-corax/#prehlad/" target="_blank" class="p-button p-button-outlined">
                Viac informácií
              </a>
            </ng-template>
          </p-card>
        </div>
      </p-tabPanel>
  
      <!-- Lano -->
      <p-tabPanel header="Laná">
        <div class="gear-items">
          <p-card class="gear-card" header="Mammut Lano 9.8 Crag Classic">
            <ng-template pTemplate="content">
              <img src="/images/crag_9.8.png" alt="Mammut Crag Classic" class="gear-image" />
              <p>
                Dynamické lano vhodné na vnútorné steny ale aj na skaly. Ponúkajú rôzne dĺžky.
              </p>
              <p><strong>Cenová kategória:</strong> 105 - 170 €</p>
              <a href="https://www.heureka.sk/?h%5Bfraze%5D=lano+9.8+crag+classic" target="_blank" class="p-button p-button-outlined">
                Viac informácií
              </a>
            </ng-template>
          </p-card>
        </div>
      </p-tabPanel>
  
      <!-- Ostatné -->
      <p-tabPanel header="Ostatné">
        <div class="gear-items">
          <p-card class="gear-card" header="Istítko Singing Rock Rama">
            <ng-template pTemplate="content">
              <img src="/images/rama.png" alt="Singing Rock Rama" class="gear-image" />
              <p>
                Intuitívne istenie so zvýšeným brzdným účinkom.
              </p>
              <p><strong>Cena okolo:</strong> 27 - 38 €</p>
              <a href="https://istiace-zariadenia.heureka.sk/singing-rock-rama/#prehlad/" target="_blank" class="p-button p-button-outlined">
                Viac informácií
              </a>
            </ng-template>
          </p-card>
          <p-card class="gear-card" header="Ocún Falcon QD Zoom PA 15/22mm 12cm 5pack">
            <ng-template pTemplate="content">
              <img src="/images/falcon.png" alt="Ocún Falcon QD Zoom PA 15/22mm 12cm 5pack" class="gear-image" />
              <p>
                Keylock zámok, ergonomický tvar, dlhá životnosť.
              </p>
              <p><strong>Cena okolo:</strong> 76 - 105 €</p>
              <a href="https://expresky.heureka.sk/ocun-falcon-qd-zoom-pa-15-22mm/#prehlad/" target="_blank" class="p-button p-button-outlined">
                Viac informácií
              </a>
            </ng-template>
          </p-card>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  